.blue{
	fill: blue;
}

.red{
	fill: red;
}

.open{
	fill: #c2b280;
}

/*scalable vector graphics*/
#wrapper svg{
	background-color: #cacaca;
}

.state-info{
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}